<form action="answer" data-turbo="false">
<%# action => quand je vais appuyer sur le bouton, je vais aller sur l'url correspondant à l'action (/answer) %>

  <input type="text" name="question">
  <%# Grâce au name, je définis le nom de mon params %>

  <input type="submit" value="Ask!">
</form>
